.sectionScheme{
    width: 90%;
    margin: auto;
}
.articleSchemeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articleSceme{
    display: flex;
    flex-basis: 49%;
    margin: 15px 0;
}
.sidenav{
    width: 50%;
}

@media screen and (max-width: 425px) {
    .sidenav-container{
        position: initial;
    }
    .articleSceme{
        flex-basis: 100%;
    }

    .mat-mdc-list-base{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .profilRedirection{
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #D9D9D9;
        border-radius: 50px;
    }
    .iconContainer{
        display: flex;
        justify-content: center;
    }
}