.sectionScheme{
    width: 90%;
    margin: auto;
}
.articleSchemeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articleSceme{
    display: flex;
    flex-basis: 45%;
    margin: 15px 0;
}

@media screen and (max-width: 425px) {
    .articleSceme{
        flex-basis: 100%;
    }
}