<app-header></app-header>
<main>
    <section class="sectionScheme">
        <app-button [button]="createArticleButton"></app-button>
        <article class="articleSchemeContainer">
            <app-article-scheme class="articleSceme"></app-article-scheme>
            <app-article-scheme class="articleSceme"></app-article-scheme>
            <app-article-scheme class="articleSceme"></app-article-scheme>
            <app-article-scheme class="articleSceme"></app-article-scheme>
        </article>
    </section>
</main>