<app-header></app-header>
<main>
    <section class="section">
        <h2 class="section__header">Profil utilisateur</h2>
        <article class="article">
            <form action="" class="article__form">
                <div class="article__form__inputContainer">
                    <input type="text" name="username" placeholder="Username" class="inputForm" />
                </div>
                <div class="article__form__inputContainer">
                    <input type="text" name="email" placeholder="email@email.fr" class="inputForm" />
                </div>
                <div class="article__form__container--button">
                    <app-button [button]="save"></app-button>
                </div>
            </form>
            <div class="logoutContainer">
                <span class="logoutContainer__text" (click)="logOut()">Se déconnecter</span>
            </div>
        </article>
    </section>
    <section class="articleSchemeContainer">
        <app-theme-scheme *ngFor="let theme of themeList" class="articleSceme" [forTheme]="theme"></app-theme-scheme>
    </section>
</main>