<article class="article">
    <h2 class="article__h2">{{ forTheme.title }}</h2>
    <div class="article__contentContainer">
        <span>{{ forTheme.contenu }}</span>
    </div>
    <div class="article__buttonContainer">
        <button *ngIf="containsSimilarId(forTheme)" (click)="unsubscribeTheme(forTheme)" class="button button--notFilled">Se désabonner</button>
        <button *ngIf="!containsSimilarId(forTheme)" (click)="subscribeTheme(forTheme)" class="button">S'abonner</button>
    </div>
</article>