.article{
    background: #F5F5F5;
    padding: 15px;
    border-radius: 8px;
    flex-basis: 100%;
    cursor: pointer;
    &__h2{
        margin: 10px 0;
    }
    &__dateAuteurContainer{
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        flex-basis: 50%;
        &__date{
            flex-basis: 50%;
        }
        &__auteur{
            flex-basis: 50%;
        }
    }
    &__contentContainer{
        font-size: 14px;
    }
}
.articleSchemeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}