<app-header></app-header>
<main>
    <section>
        <article class="article article--form">
            <span class="backImg" (click)="goBack()">
                <img src="../../../assets/png/Arrow.png" alt="Back arrow">
            </span>
            <h2 class="article__h2">Se connecter</h2>
            <div class="modal" *ngIf="formFailure">
                <span>Un problème c'est produit lors de la connexion</span>
            </div>
            <form (ngSubmit)="loginUser()" class="article__form">
                <div class="article__form__container">
                    <label for="emailOrUsername" class="labelForm">E-mail ou nom d’utilisateur</label>
                    <input type="text" name="emailOrUsername" id="emailOrUsername" class="inputForm" [(ngModel)]="loginData.emailOrUsername" required/>
                </div>
                <div class="article__form__container">
                    <label for="password" class="labelForm">Mot de passe</label>
                    <input type="password" name="password" id="password" class="inputForm" [(ngModel)]="loginData.password" required/>
                </div>
                <div class="article__form__container--button">
                    <app-button-flat [button]="login"></app-button-flat>
                </div>
            </form>
        </article>
    </section>
</main>